html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.container {
 display: flex;
 height: 100%;
}

.chart {
  display: flex;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 2px #000;
}

.dot-label {
  font-size: 12px;
  text-anchor: start;
}

.bar-item:hover circle {
  stroke-width: 2px;
  stroke: mediumpurple;
}

path.domain {
  width: 0px;
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
}

text {
  cursor: default;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 10px;
  width: 120px;
  min-height: 60px;
  margin-top: -82px;
  margin-left: -142px;
  opacity: 0.9;
  color: #444;
  font: 14px sans-serif;        
  background: #ffccff;
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
